html, body {
	margin: 0; 
	padding: 0; 
	overflow: hidden;
	height: 100%;
	position: relative;
}

body {
	background-image:url("/images/background.png");
	background-size: cover;
}
#svg {
	background-color: rgb(243,112,104);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 5;
	margin: 0 auto;
}

#Layer_1 {
	fill: white;
}

video {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 5;
	background-image:url("/images/background.png");
}

#ideumicon {
	position: fixed;
	top: 40px;
	left: 185px;
	z-index: 0;
}

#downloadicon {
	position: fixed;
	top: 40px;
	right: 350px;
	z-index: 0;
	color: white;
}

#socialicon {
	position: fixed;
	top: 40px;
	right: 275px;
	z-index: 0;
}

#tableicon {
	position: fixed;
	top: 45px;
	right: 200px;
	z-index: 0;
}

#up_arrow {
	position: fixed;
	top: 400px;
	right: 200px;
	z-index: 2;
	cursor: pointer;
}

#down_arrow {
	position: fixed;
	top: 500px;
	right: 200px;
	z-index: 2;
	cursor: pointer;
}

#dig_deeper {
	position: fixed;
	top: 565px;
	right: 185px;
	z-index: 2;
	color: white;
}

#scrollnav {
height: 112px;
margin: auto;
position: fixed;
	top: 0; right: 0; bottom: 0; /* do not set left value */
}

/* ### begin menu styles ### */
#menu {
	position:fixed;
	top:30%;
}
.nav { /* aka tablemenu */
background-color:transparent;
color:#fff;
transition: all 0.25s ease;
position:fixed;
top:30%;
}

.nav a {
	color: white;
}

.nav ul li ul {
	display: none;
}

#content-text {
	position: fixed;
	top: 30%;
}

/* starting (section1) values for viewability of sub-navigation - show #section1navitemsub-navigation only */
#tablemenu.section1 ul li#section1navitem ul  {
	display:block !important;
}
#tablemenu.section1 ul li#section2navitem ul  {
	display:none;
}
#tablemenu.section1 ul li#section3navitem ul  {
	display:none;
}

/* section2 values for viewability of sub-navigation - show #section2navitem sub-navigation only */
#tablemenu.section2 ul li#section1navitem ul  {
	display:none;
}
#tablemenu.section2 ul li#section2navitem ul  {
	display:block;
}
#tablemenu.section2 ul li#section3navitem ul {
	display:none;
}

/* section3 values for viewability of sub-navigation - show #section3navitem sub-navigation only */
#tablemenu.past-section3 ul li#section1navitem ul  {
	display:none;
}
#tablemenu.section3 ul li#section2navitem ul  {
	display:none;
}
#tablemenu.section3 ul li#section3navitem ul {
	display:block;
}

#tablemenu ul {
	list-style: none;
}

#tablemenu ul li.on {
	color:#666;
	font-weight:bold; /*temp use only*/
}
#tablemenu ul li.on ul li {
	color:#fff;
	font-weight:normal; /*temp use only*/
}

#nav-info1 p {
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: white;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: white;
	font-family: "Lato Regular";
	font-size: 18px;
	max-width: 350px;
}

#nav-info2 p {
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: white;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: white;
	font-family: "Lato Regular";
	font-size: 18px;
	max-width: 350px;
}

#nav-info3 p {
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: white;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: white;
	font-family: "Lato Regular";
	font-size: 18px;
	max-width: 350px;
}

#table_image {
	position: fixed;
	top : 125px;
	right: 100px;
	width:	auto;
	height: auto;
	z-index: 1;
}
