html, body {
	margin: 0; 
	padding: 0; 
	overflow: hidden;
	height: 100%;
	position: relative;
}

body {
	background-image:url("/images/background.png");
	transition: background 0.5s ease-in-out;
	background-size: cover;
}
#svg {
	background-color: rgb(243,112,104);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
	margin: 0 auto;
}

#Layer_1 {
	fill: white;
}

video {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
	background-image:url("/images/background.png");
}

#ideumicon {
	position: fixed;
	top: 30px;
	left: 200px;
	z-index: 0;
}

#downloadicon {
	position: fixed;
	top: 40px;
	right: 350px;
	z-index: 0;
	color: white;
}

#socialicon {
	position: fixed;
	top: 40px;
	right: 275px;
	z-index: 0;
}

#tableicon {
	position: fixed;
	top: 50px;
	right: 200px;
	z-index: 0;
}

#up_arrow {
	position: fixed;
	top: 400px;
	right: 200px;

}

#down_arrow {
	position: fixed;
	top: 500px;
	right: 200px;
}

#content-block {
	padding-top: 50px;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    margin: auto;
}
/**
#nav-information {
	padding-bottom: 10px;
	border-bottom-color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid; 
}
**/

#tablemenu ul{
	color: white;
}

#tablemenu ul li ul {
	display: none;

}
